<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{title}}</title>
    
    
    {{!-- <script src="https://cdn.tailwindcss.com/3.0.0"></script> --}}
    <link rel="stylesheet" href="/stylesheets/output.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@700&family=Poppins:wght@400;700&family=Merriweather:wght@400;700&family=Inter:wght@400;700&family=Roboto:wght@400;700&family=Nunito:wght@400;700&family=Raleway:wght@700&family=Lato:wght@700&family=Quicksand:wght@700&family=Source+Sans+3:wght@700&family=Barlow:wght@700&display=swap" rel="stylesheet">
    
  </head>
  <body class="font-inter min-h-screen flex flex-col">
      <!-- Page Content -->
      <main class="flex-1 overflow-y-auto">

        {{{body}}}
      </main>
    </div>
  </div>
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/modals.js"></script>
  </body>
</html>
