<h1>{{title}}</h1>
<p>Book collection</p>
<div class="bg-white rounded-lg shadow w-full flex-1 p-8">
<div class="nav mb-6">
  <a href="#">Add Book</a>
</div>
<table class="w-full border-collapse mt-6">
  <thead class="bg-blue-600 px-4 py-2">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Year</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>The Pragmatic Programmer</td>
      <td>Andrew Hunt</td>
      <td>1999</td>
      <td><a href="#" class="btn">View</a></td>
    </tr>
    <tr>
      <td>Clean Code</td>
      <td>Robert C. Martin</td>
      <td>2008</td>
      <td><a href="#" class="btn">View</a></td>
    </tr>
    <tr>
      <td>JavaScript: The Good Parts</td>
      <td>Douglas Crockford</td>
      <td>2008</td>
      <td><a href="#" class="btn">View</a></td>
    </tr>
  </tbody>
</table>
