<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>{{title}}</title> 
    <link rel="stylesheet" href="/stylesheets/output.css"/>   
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Barlow:wght@400;700&family=Inter:wght@400;700&family=Lato:wght@400;700&family=Marhey:wght@400;700&family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&family=Nunito:wght@400;700&family=Playfair+Display:wght@400;700&family=Poppins:wght@400;700&family=Quicksand:wght@400;700&family=Raleway:wght@400;700&family=Roboto:wght@400;700&family=Source+Sans+3:wght@400;700&display=swap"
      rel="stylesheet">  
  </head>
  <body class="bg-[#f7f7f7] text-[#222] font-inter min-h-screen flex flex-col">
      <!-- Page Content -->
      <main class="flex-1 overflow-y-auto font-inter">

        {{{body}}}
        
      </main>
    
  
  <script type="module" src="/javascripts/modals.js"></script>
  <script src="/javascripts/mobile-nav.js"></script>
  <script type="module" src="/javascripts/auth-toggle.js"></script>


  {{!-- If the server says showAuthModal is true, this script will open the auth modal automatically
  when the page loads. It's so users see error messages (like signup/login errors) right away.
  It just removes the 'hidden' class and adds 'flex' to the modal so it pops up.
   --}}
  <script>    
    {{#if showAuthModal}}
    document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('authModal').classList.remove('hidden');
    document.getElementById('authModal').classList.add('flex');    // Hides modal (display: none)
  });


{{/if}}
  </script>
  </body>
</html>
