<!-- Footer -->
<footer class="py-8 bg-blue-900 text-blue-100 text-center">
    <div class="mb-2">
        <a href="#" id="aboutLink" class="mx-2 hover:underline">About</a>
        <a href="#" id="contactLink" class="mx-2 hover:underline">Contact</a>
        <a href="https://github.com/joesalaz/BookWise" class="mx-2 hover:underline">GitHub</a>
    </div>
    <div class="text-sm">
        Open source under the <a href="https://github.com/joesalaz/BookWise/blob/main/LICENSE"
            class="underline hover:text-blue-300">MIT License</a>.
    </div>
</footer>