 <footer class="bg-blue-900 text-blue-100 text-center py-12 mx-auto mt-auto">
        <div class="max-w-6xl mx-auto items-center px-4 w-full">
            Open source under the <a href="https://github.com/your-repo/LICENSE"
                class="underline hover:text-blue-300">MIT License</a>.
            <a href="https://github.com/joesalaz/BookWise" class="mx-2 underline hover:text-blue-300">GitHub</a>
        </div>
    </footer> 